<%= render 'shared/navbar' %>
<div class="container">
  <div class="row py-4">
    <div class="col-md-6">
      <ul class="list-group mt-3">
        <% @items.each do |itemcart| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= link_to item_path(itemcart.item.id), class:"link-to" do %>
              <img src="<%= itemcart.item.image %>" class="img-cart"> <%= itemcart.item.name %>
            <% end %>

            <div class="right-side d-flex align-items-center">
              <span class="mr-5"><%= itemcart.item.price %> €</span>
              <span class="badge badge-primary badge-pill mr-5">
                x <%= itemcart.quantity %>
              </span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col">
      <h2>Commande #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h2>
      <ul class="list-unstyled">
        <li><strong>Date : </strong> <%= @order.created_at.to_date %></li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
        </li>
      </ul>
      <p>Livraison estimée le <strong><%= @order.created_at.to_date %></strong></p>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
