<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path('bagues.jpg') %>);">
  <div class="container">
    <h1>Création de pièces émail sur métaux</h1>
    <p>Atelier en Gironde création artisanale : Bijoux, pièces de décorations, poignées de porte ...</p>
    <a href="<%= items_path %>"><button type="button" class="btn-perso">Voir les pièces</button></a>
  </div>
</div>

<div class="container">

  <div class="description row">
      <div class="img-home col-md">
        <img src="https://www.hautehorlogerie.org/typo3temp/_processed_/csm_000G-9854_Enamel_465955_02_629cd1bde9.jpg" alt="">
        <h2>L'émail sur métaux</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat eum qui rem. Expedita est dolorem praesentium nulla quibusdam, cum inventore. Quaerat aspernatur dolorem ea doloribus voluptate enim ullam, tempore explicabo.</p>
        <a href="<%= items_path %>"><button type="button" class="btn-description">Voir les pièces</button></a>
      </div>

      <div class="img-home col-md">
        <%=image_tag("atelier.jpg")%>
        <h2>L'Atelier</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat eum qui rem. Expedita est dolorem praesentium nulla quibusdam, cum inventore. Quaerat aspernatur dolorem ea doloribus voluptate enim ullam, tempore explicabo.</p>
        <a href="<%= atelier_path %>"><button type="button" class="btn-description">Découvrir l'atelier</button></a>
      </div>
  </div>

  <h1 class="mt-5">Les pièces par catégorie</h1>
  <div class="cards">
    <% @categories.each do |category| %>
      <%=link_to category_path(category), class:"link-to" do%>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path(category.image) %>)">
          <%= category.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
