<%= render 'shared/navbar' %>
<div class="container">
  <a href="javascript:history.go(-1)"><i class="fas fa-arrow-left"></i></a>

  <ul class="list-group mt-3">
    <% @cart.cart_items.each do |itemcart| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to item_path(itemcart.item.id), class:"link-to" do %>
          <img src="<%= itemcart.item.image %>" class="img-cart"> <%= itemcart.item.name %>
        <% end %>

        <div class="right-side d-flex align-items-center">
          <span class="mr-5"><%= itemcart.item.price %> €</span>
          <span class="badge badge-primary badge-pill mr-5">
            x <%= itemcart.quantity %>
          </span>
          <span>
            <%= button_to cart_item_path(itemcart.id), method: :delete, class:"trash" do %>
            <i class='fas fa-trash-alt'></i>
            <% end %>
          </span>
        </div>
      </li>
    <% end %>
    <div class="total list-group-item d-flex justify-content-end align-items-center">
      <p>Total : <%= @total %> €</p>
    </div>
  </ul>

  <div class="center-btn">
  <button class="btn-description mt-3">Commander</button>
  </div>
</div>
<%= render 'shared/footer' %>
