<div class="container">
  <a href="javascript:history.go(-1)"><i class="fas fa-arrow-left"></i></a>
  <h2 class="mt-3 mb-3">Résumé de la commande</h2>
  <ul class="list-group mt-3">
    <% @items.each do |itemcart| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to item_path(itemcart.item.id), class:"link-to" do %>
          <img src="<%= itemcart.item.image %>" class="img-cart"> <%= itemcart.item.name %>
        <% end %>

        <div class="right-side d-flex align-items-center">
          <span class="mr-5"><%= itemcart.item.price %> €</span>
          <span class="badge badge-primary badge-pill mr-5">
            x <%= itemcart.quantity %>
          </span>
        </div>
      </li>
    <% end %>
    <div class="total list-group-item d-flex justify-content-end align-items-center">
      <p>Total : <%= @total %> €</p>
    </div>
  </ul>

  <div class="center-btn">
    <button id="pay" class="btn-description mt-3">Payer : <%= @total %> €</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const paymentButton = document.getElementById('pay');
      paymentButton.addEventListener('click', () => {
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<%= @order.checkout_session_id %>'
        });
      });
    </script>
  </div>

</div>
